<div class="mt-10 m-auto w-full max-w-3xl content-center">
  <% unless @blogs.empty? %>
    <% @blogs.each do |blog| @blog = blog%>
      <%=render 'blogs/blog' %>
      <br>
    <% end %>
    <div class="mx-auto text-center my-4">
  <%= paginate @blogs %>
</div>
    <% else %>
    <div class="p-4 text-sm text-gray-700 bg-gray-100 rounded-lg dark:bg-gray-700 dark:text-gray-300" role="alert">
    no blogs found 
</div>
      
  <% end %>
</div>