<% content_for(:html_title) { 'New blog' } %>
<div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                <div class="p-6 bg-white border-b border-gray-200">
                    <%= form_with(url: save_new_blog_path, html: { method: :put, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>
                       <% if @blog.errors.full_messages.any? %>
                            <div class="p-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                            <% @blog.errors.full_messages.each do |error_message| %>
                              <%=error_message %><br>
                            <% end %>
                            </div>
                        <% end %>
                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Title <span class="text-red-500">*</span></label></br>
                            <input type="text", required = true, class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="blog_title" id="title" value="" >
                        </div>

                        <div class="mb-4">
                            <label class="text-xl text-gray-600">Description<span class="text-red-500">*</span></label></br>
                            <input type="text", required = true, class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="blog_description" id="description" placeholder="">
                        </div>

                        <div class="mb-8">
                            <label class="text-xl text-gray-600">Content <span class="text-red-500">*</span></label></br>
                            <textarea name="blog_text", required = true, class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                
                            </textarea>
                        </div>

                        <div class="flex p-1">
                        <%= f.select :active, [['Save and Publish', true], ['Save Draft', false]], class: 'border-2 border-gray-300 border-r p-2' %>

                            <button role="submit" class="p-3 bg-blue-500 text-white hover:bg-blue-400" required>Submit</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace( 'blog_text' );
    </script>