<li>
  <a href="<%=show_post_path(notification.to_user.username, Post.find(notification.post_id).hashid)%>" class="flex flex-col items-center bg-white shadow-md md:flex-row md:max-w-xl hover:bg-zinc-100 dark:bg-zinc-900 dark:hover:bg-zinc-600">
    <% if notification.from_user.avatar.attached? %>
      <%= image_tag notification.from_user.avatar.variant(:thumb), class: 'mr-2 w-12 h-12 rounded-full'%>
    <% else %>
      <%=image_tag("#{ENV['DEFAULT_AVATAR_IMAGE_PATH']}", :alt => "user photo", class: 'mr-2 w-12 h-12 rounded-full') %>
    <% end %>
    <div class="flex flex-col justify-between p-4 leading-normal">
      <p class="flex mb-3 font-normal text-gray-700 dark:text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
        </svg>
        <%="#{notification.from_user.full_name} Liked your post"%>
      </p>
    </div>
  </a>
</li>
