<div class='w-full'>
  <section class="text-gray-600 body-font">
    <div class="container py-6 mx-auto">
      <div class="flex flex-wrap">
        <% unless posts.empty? %>
          <% posts.each do |post| %>
            <%=render 'posts/post', {post: post}  %>
          <% end %>
          <br>
        <% else %>
          <div class="p-4 text-sm text-gray-700 bg-gray-100 rounded-lg  dark:bg-zinc-900 dark:text-gray-300" role="alert">
            <%=t(:no_posts_found)%>
          </div>
        <% end %>
      </div>
      <div class="mx-auto text-center mt-10">
        <%= paginate posts %>
      </div>
    </div>
  </section>
</div>
