<% 
if action_name == 'category_posts'
  content_for(:html_title) { 'Category: ' + params[:name].titleize } 
end 
%>
<% if profile %>
  <%=render 'users/profile'%>
<% end %>
<div class="w-3/4 float-right">
  <%=render 'posts/new_post_form'%>
  <%=render 'posts/posts', posts: @posts %>
</div>