<div class="dark:text-slate-200 text-gray-800"><%=simple_format(h(post.text)).gsub(/(#)\S+/, '<a href="/{loc}/hashtag/\0" class = "text-blue-800" >\0</a>').gsub(/(@)\S+/, '<a class = "text-blue-800" href="/{loc}/\0\posts">\0</a>').gsub('@', '').gsub('{loc}', I18n.locale.to_s).gsub(URI.regexp, '<a class = "text-blue-800" target = "_blank" href="\0">\0</a>').html_safe %></div>
